@model IEnumerable<Product.Api.Models.Product>
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Yuk!</h1>
    <p>@Html.ActionLink("Carrello", "Carrello")</p>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Descrizione</th>
            <th>Quantità</th>
            <th></th>
        </tr>
    @if(Model != null && Model.Any() )
    {
        foreach(var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Quantity </td>
                <td>
                    @Html.ActionLink("Aggiungi al carrello", "Aggiungi") 
                </td>
            </tr>
        }
    }
    else
    {
        <td colspan=5 class="text-center"> Nessun prodotto trovato</td>
    }

    </table>
</div>

